root = true

[*]
indent_style = space
indent_size = 4
char_set = utf-8
insert_final_newline = true

[*.{ts,js,json}]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[Makefile]
indent_style = tab

[*.sh]
indent_style = tab
