name: fuzz
on:
  pull_request:
    branches:
      - 'main'
      - 'release/**'
jobs:
  smoketest:
    runs-on: ubuntu-latest
    permissions:
      contents: read # for reading the repository code.
    steps:
      - name: Test suite setup
        uses: fluxcd/gha-workflows/.github/actions/setup-kubernetes@v0.9.0
        with:
          go-version: 1.26.x
      - name: Smoke test Fuzzers
        run: make fuzz-smoketest
        env:
          SKIP_COSIGN_VERIFICATION: true
