#name: e2e
#on:
#  workflow_dispatch:
#  pull_request:
#  push:
#    branches:
#      - 'main'
#      - 'release/**'
#jobs:
#  kind-linux-amd64:
#    runs-on: ubuntu-latest
#    permissions:
#      contents: read # for reading the repository code.
#    steps:
#      - name: Test suite setup
#        uses: fluxcd/gha-workflows/.github/actions/setup-kubernetes@v0.4.0
#        with:
#          go-version: 1.25.x
#      - name: Verify
#        run: make verify
#      - name: Enable integration tests
#        # Only run integration tests for main and release branches
#        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')
#        run: |
#          echo 'GO_TAGS=integration' >> $GITHUB_ENV
#      - name: Run E2E tests
#        env:
#          SKIP_COSIGN_VERIFICATION: true
#          CREATE_CLUSTER: false
#        run: make e2e
#      - name: Print controller logs
#        if: always()
#        continue-on-error: true
#        run: |
#          kubectl -n source-system logs -l app=source-controller
